/.vs/Aura/DesignTimeBuild/.dtbcache.v2
/.vs/Aura/FileContentIndex/6c4c063f-7dac-4901-83ea-ad6da5254538.vsidx
/.vs/Aura/FileContentIndex/6c604923-b10b-483b-8513-ee6fd459b85e.vsidx
/.vs/Aura/FileContentIndex/9c701db3-d7ec-4860-aa50-e9ee737c5536.vsidx
/.vs/Aura/FileContentIndex/28d28db5-a8ad-43d5-a2a6-0e14e9611205.vsidx
/.vs/Aura/FileContentIndex/88fc7992-d897-4f70-8efd-a2f4aa8b43eb.vsidx
/.vs/Aura/FileContentIndex/499f5f5d-3952-4205-993e-1b70b7ef7214.vsidx
/.vs/Aura/FileContentIndex/729a2c87-333a-4e5a-966c-5a6f1c2fc671.vsidx
/.vs/Aura/FileContentIndex/943d0211-5710-425f-8e76-0518f3140860.vsidx
/.vs/Aura/FileContentIndex/957e50b6-4620-4a3f-9a21-b3dc98a3bd34.vsidx
/.vs/Aura/FileContentIndex/959e81cb-b85c-48f9-b7da-13c228995994.vsidx
/.vs/Aura/FileContentIndex/4423d201-0b89-4bb5-9230-b8862c12006a.vsidx
/.vs/Aura/FileContentIndex/02060873-878a-40e1-9f9d-fa74bb4e3daa.vsidx
/.vs/Aura/FileContentIndex/38167147-7c53-45ca-8196-23e7a16fdcab.vsidx
/.vs/Aura/FileContentIndex/b1b282e1-2db6-4c34-aba3-00d3bd05f764.vsidx
/.vs/Aura/FileContentIndex/ee84be90-4a0f-4416-8eee-5c4cc93f0813.vsidx
/.vs/Aura/v17/ipch/38f077ada3bef60f.ipch
/.vs/Aura/v17/.futdcache.v2
/.vs/Aura/v17/.suo
/.vs/Aura/v17/Browse.VC.db
/.vs/Aura/v17/DocumentLayout.json
/.vs/Aura/v17/fileList.bin
/.vs/Aura/v17/Solution.VC.db
/.vs/ProjectEvaluation/aura.metadata.v9.bin
/.vs/ProjectEvaluation/aura.projects.v9.bin
/.vs/ProjectEvaluation/aura.strings.v9.bin
/AuraGAS/Intermediate
/AuraGAS/Saved